.o-distance {
  margin-top: get-spacing-stack(l);

  @include breakpoint(l) {
    margin-top: get-spacing-stack(xl);
  }
}

.o-distance-s {
  margin-top: get-spacing-stack(s) !important;
}

.o-distance-m {
  margin-top: get-spacing-stack(m) !important;
}

.o-distance-l {
  margin-top: get-spacing-stack(l) !important;
}

.o-distance-xl {
  margin-top: get-spacing-stack(xl) !important;
}

.o-distance-xxl {
  margin-top: get-spacing-stack(xl) !important;

  @include breakpoint(l) {
    margin-top: get-spacing-stack(xxl) !important;
  }
}
